############
# Python   #
############
build --python_path="/usr/local/bin/python3"

# MyPy Aspect
###############
build --aspects @mypy_integration//:mypy.bzl%mypy_aspect
build --output_groups=+mypy

############
# Java     #
############

############
# Scala    #
############
build --strategy=Scalac=worker
test --strategy=Scalac=worker

############
# Other    #
############
try-import %workspace%/linting.bazelrc

# Don't hide log output from a test execution, which is annoying UX on test failures.
test --test_output=all

# Restrict workers from reading files that aren't declared as inputs
# Note that this uses a different sandboxing mechanism than the actions spawn:
# https://github.com/bazelbuild/bazel/issues/6111
build --worker_sandboxing

# Local Disk Cache - https://docs.bazel.build/versions/master/remote-caching.html#disk-cache
build --disk_cache=~/example-bazel-monorepo-disk-cache/

# BuildBuddy - https://buildbuddy.io/
# uncomment the following lines to send build events to buildbuddy
# build --bes_results_url=https://app.buildbuddy.io/invocation/
# build --bes_backend=grpc://events.buildbuddy.io:1985
