############
# Python   #
############
build --python_path="/usr/local/bin/python3"

############
# Java     #
############

############
# Scala    #
############
build --strategy=Scalac=worker
test --strategy=Scalac=worker

############
# Other    #
############
try-import %workspace%/linting.bazelrc

# Intellij Plugin
build --incompatible_depset_is_not_iterable=false
