##################
# Bazel
##################
bazel-*
# Intellij with Bazel (IJWB)
.ijwb/

# TODO(Jonathon): Remove when I add the linters on CI instances
linting.bazelrc

3rdparty/typescript/node_modules/

##################
# Intellij
##################
.idea

##################
# Terraform
##################
infrastructure/**/.terraform/**
**/*.tfstate.backup
